<mat-toolbar class="et-toolbar">
    <div class="eternity-logo-container">
        <et-logo></et-logo>
        <div>Eternity</div>
    </div>
    <div>
        <!-- Theme selection button -->
        <button mat-icon-button
                [matTooltip]="'themeSelection' | translate:lang"
                [matMenuTriggerFor]="themeMenu"
                [attr.aria-label]="'themeSelection' | translate:lang">
            <mat-icon>format_color_fill</mat-icon>
        </button>
        <mat-menu #themeMenu="matMenu" [class]="activeTheme">
            <mat-grid-list cols="2">
                <mat-grid-tile *ngFor="let theme of availableThemes"
                               [class]="theme"
                               style="position: absolute">
                    <div mat-menu-item class="menu-item" [matTooltip]="theme | theme">
                        <div class="menu-item-container">
                            <div role="button" [attr.aria-label]="theme"
                                    class="menu-item-btn" (click)="activeTheme = theme">
                                <mat-icon *ngIf="activeTheme === theme"
                                          class="menu-item-btn-check">check</mat-icon>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-menu>

        <!-- Language selection button -->
        <button mat-icon-button
                [matTooltip]="'languageSelection' | translate:lang"
                [matMenuTriggerFor]="langMenu"
                [attr.aria-label]="'languageSelection' | translate:lang">
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu" [class]="activeTheme">
            <ng-container *ngFor="let localLang of availableLangs">
                <button mat-menu-item *ngIf="localLang.short !== lang"
                        (click)="selectLanguage(localLang.short)">
                    {{localLang.long}}
                </button>
            </ng-container>
        </mat-menu>

        <!-- Settings button -->
        <button mat-icon-button
                [matTooltip]="'settings' | translate:lang"
                [attr.aria-label]="'settings' | translate:lang"
                (click)="openSettingsDialog(calculator)">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</mat-toolbar>

<!-- Main Content -->
<div class="et-decorative-bar"></div>
<div class="et-main-content">
    <et-calculator #calculator></et-calculator>
</div>
