.input-placeholder {
    color: red;
}

::ng-deep .mat-form-field-ripple {
    background-color: var(--primary) !important;
    color: var(--primary) !important
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-label {
    color: var(--disabled);
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float.mat-focused .mat-form-field-label {
    color: var(--primary);
}

.settings-form-field {
    margin: 12px;
}

.settings-dialog-actions {
    align-items: center;
    justify-content: flex-end;
}
