html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-light {
    --background: #fafafa;
    --background-darker: #ededed;
    --primary: #3f51b5;
    --text-main: rgba(0, 0, 0, .87);
    --text-primary: #fff;
    --menu-bg: #fff;
}

.material-dark {
    --background: #303030;
    --background-darker: #272727;
    --primary: #9c27b0;
    --text-main: #fff;
    --text-primary: #fff;
    --menu-bg: #424242;
}

.mat-menu-panel {
    background-color: var(--menu-bg);

    .mat-menu-item {
        color: var(--text-main);
    }
}
